<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js'></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body ng-app="myApp" ng-controller="mainController">
  <form ng-submit="submit()">

    <input type="number" name="year" ng-model="year">
    <label>year</label>
    <br>

    <input type="text" name="make" ng-model="make">
    <label>make</label>
    <br>

    <input type="number" name="harnessType" ng-model="harnessType">
    <label>harnessType</label>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
<script>
  angular.module("myApp", [])
    .controller("mainController", function($scope, $http) {
      $scope.rowId;
      $scope.updateData = {
        year: $scope.year,
        make: $scope.make,
        harnessType: $scope.harnessType,
        yearId: ,
        makeId:
      }
      $scope.submit = function() {
        $http({
          method: 'POST',
          url: 'http://localhost:8000/update/submit',
          data: updateData,
          headers: {
            'Content-Type': 'application/json; charset=utf-8'
          }
        });
      }
    })
</script>

</html>
