
<div ng-controller="normalCrudController as crud">
  <div>
    <div class="column">
      <label>Insert Vehicle</label>
      <form ng-submit="crud.insertVehicle()">
        <div ng-class="{'has-error' : !crud.insertedYear}">
          <label>Year</label>
          <input type="number" ng-model="crud.insertedYear" class="form-control input-sm" uib-tooltip="must enter something into this field" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!crud.insertedYear">
        </div>
        <div ng-class="{'has-error' : !crud.insertedMake}">
          <label>Make</label>
          <input type="text" ng-model="crud.insertedMake" class="form-control input-sm" uib-tooltip="must enter something into this field" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!crud.insertedMake">
        </div>
        <div>
          <label>Harness Type</label>
          <input type="text" ng-model="crud.insertedHarnessTypeOne" class="form-control input-sm">
        </div>
        <div>
          <label>Additional Harness Type or Note</label>
          <input type="text" ng-model="crud.insertedHarnessTypeTwo" class="form-control input-sm">
        </div>
        <div>
          <label>Adapter Type</label>
          <input type="number" ng-model="crud.insertedAdapterType" class="form-control input-sm">
        </div>
        <div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger" ng-click="crud.clearVehicle()">Clear</button>
        </div>
        <br>
        <div uib-alert dismiss-on-timeout="4000" ng-repeat="alert in crud.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="crud.closeAlert($index)">{{alert.msg}}</div>
      </form>
    </div>
    <file-upload></file-upload>
  </div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th colspan="2">Harness Types</th>
          <th>Adapter Type</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="vehicle in crud.vehicles" ng-include="crud.checkEdit(vehicle)">
        </tr>
        <script type="text/ng-template" id="display">
          <td>
            <label ng-bind="vehicle.year"></label>
          </td>
          <td>
            <label ng-bind="vehicle.make"></label>
          </td>
          <td>
            <label ng-bind="vehicle.harnessTypeOne"></label>
          </td>
          <td>
            <label ng-bind="vehicle.harnessTypeTwo"></label>
          </td>
          <td>
            <label ng-bind="vehicle.adapterType"></label>
          </td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="crud.editVehicle(vehicle)">Edit</button>
            <button class="btn btn-danger" uib-popover-template="'deletePopover'">Delete</button>
          </td>
        </script>
        <script type="text/ng-template" id="edit">
          <td>
            <label ng-bind="vehicle.year"></label>
          </td>
          <td>
            <label ng-bind="vehicle.make"></label>
          </td>
          <td>
            <input type="text" ng-model='vehicle.harnessTypeOne' class="form-control input-sm" />
          </td>
          <td>
            <input type="textr" ng-model='vehicle.harnessTypeTwo' class="form-control input-sm" />
          </td>
          <td>
            <input type="number" ng-model='vehicle.adapterType' class="form-control input-sm" />
          </td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="crud.updateVehicle(vehicle)">Save</button>
            <button type="button" class="btn btn-danger" ng-click="crud.reset()">Cancel</button>
          </td>
        </script>
        <script type="text/ng-template" id="deletePopover">
          <div>
            <div class="popover-arrow"></div>
            <h3 class="popover-title">Are you sure?</h3>
            <div class="popover-content">
              <button class="btn btn-danger" ng-click="crud.deleteVehicle(vehicle)">Confirm</button>
              <button class="btn btn-primary" ng-click="crud.reset()">Stooopp!</button>
            </div>
          </div>
        </script>
      </tbody>
    </table>
  </div>
</div>
